.left_bar{
    width: 280px;
    height: 100vh;
    background-color: #2B3445;

}
.leftBarIcon{
    height: 25px;
    margin-right: 15px ;
}
.store{
    height: 40px;
    width: 84px;
    margin-top: 20px;
}
.admin{
    font-weight: 600;
    font-size: 12px;
    margin-top: 20px;
    margin-left: 15px;
    margin-bottom: 10px;
    text-transform: uppercase;
    line-height: 1.75;
    color: white;
}
.LeftLink{
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
}
.LeftLink > span {
    line-height: 1.5;
    color: white;
}
.thisLocation{
    background-color: #323b4c;
}
@media (max-width: 1280px) {
    .left_bar1{
        display: none;
    }
    .left_bar2{
        position: fixed;
    }

}


