*{
    margin: 0;
    padding: 0;
}
.parent{
    width: 100%;
}
.right_window{
    width: 100%;
}
.flex{
    display: flex;
}
.end{
    justify-content: end;
}
.icon:hover{
    border: 1px solid black;
}
.scrollDiv{
    height: 50vh;
    overflow-y: scroll;
}