h3{
    margin-bottom: 16px;
    margin-top: 0px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    text-transform: none;
    white-space: normal;
}
.searchDiv1 > input{
    border: none;
    margin-left: 10px;
    outline: none;


}
.search{
    padding-bottom: 5px;
    color: gray;
    height: 20px;
}
@media (max-width: 766px) {
    .resButton{
        width: 100%;
        margin-top: 30px;
    }
}
