
.Br_icon{
    height: 20px;
    margin-right: 10px;
}
.header{
    background-color: white;
    box-shadow: 0px 0px 18px rgb(3 0 71 );

}
.searchDiv > input{
    border: none;
    margin-left: 10px;
    outline: none;


}
.search{
    color: gray;
}
.bellIcon{
    font-size: 1.5rem;
    color: gray;
}
.imgSection {
    margin-left: 20px;
}
.mobile{
    height: 30px;
    margin-right: 10px;
}
@media (min-width: 1280px) {
    .mobile{
        display: none;
    }

}

@media (max-width: 995px) {
    .searchDiv{
        display: none;
    }
}