
.choose{
    height: 100px;
    border-top: 1px solid gray;
    border-top-style: dotted;
    border-bottom: 1px solid gray;
    border-bottom-style: dotted;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 30px 0 30px 0;
}